@charset "UTF-8";



#captureScroll{
    min-width: 430px;
	max-width: 100%;
	height: 750px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;

}
.reg-submit{
    font-size: 1em;
	width:60px;
	background-color: #35cebe;
	color: #f4f5f6;
	padding: 6px 10px;
	border-radius: 16px;
	border: none;
	outline: none;
	cursor: pointer;

}
.reg-submit:hover {
    opacity: 0.7;
}
.reg-cancel{
    font-size: 1em;
	width:60px;
	background-color: #35cebe;
	color: f4f5f6;
	padding: 6px 10px;
	border-radius: 16px;
	border: none;
	outline: none;
	cursor: pointer;
}
.reg-cancel:hover {
    opacity: 0.7;
}
#del-button a{
    background: url("../images/trashCan.png")no-repeat;
    display: inline-block;
    border: none;
    width: 25px;
    height: 25px;
    text-indent: hidden;
    cursor: pointer;
    opacity: 0.7;

}
#del-button a:hover{
    opacity: 1;
}
#del-button span{
    display: inline-block;
   padding: 10px;
    
}
#captureTable{
    width: 100%;
    text-align: center;
    font-size: 1em;
    border-collapse: collapse;
    padding-left: 200px;
	padding-right: 200px;

}
#captureTable tr{
    height: 30px;
}
.thead th{
    color: #58585E;
	font-weight: bold;
	border-bottom: 3px solid #F2F2F2;
	padding: 5px;
}
#capt-title {
    font-weight: bold;
    cursor:pointer;
}
td.border-bottom{
    border-bottom:1.5px solid #F2F2F2;
    padding: 5px;
}


   
