@charset "UTF-8";
@import "reset.css";

body::-webkit-scrollbar{
  display: none;
}

#main-page{
  height: 100%;
  background: linear-gradient(to right, #13bfd7, #88dfeb);
}

#index-navigator{
  --border: 1px solid red;
  position: fixed;
  top: 50%;
  right: 15px;
  width: 30px;
  height: 81px;
}

.wrap{
  position: relative;
}
/* ============================================================ */
#main-page div:first-child{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
#main-page #logo {
  color: #f9f9f9;
}

#main-page .main-contents {
  position: relative;
  text-align: center;
  width: 100%;
  height: 400px;
}

#main-page .bg-img {
  background: url("../images/index_main_page.png") no-repeat center;
  opacity: 0.04;
  width: 80%;
  height: 70%;
  position: absolute;
  top: 20%;
  right: 0;
}

/* ============================================================ */
#main-page .main-contents h1 {
  color: #f9f9f9;
  margin-top: 210px;
}

#main-page .main-contents input {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  color: #f9f9f9;
  font-size: 24px;
  cursor: pointer;
  z-index: 3330;
  
}
#main-page .main-contents input:hover {
  background: #35cebe;
  border:  #35cebe;
  opacity: 0.5;
}

#index-navigator .circle {
  transition: .2s;
  border-radius: 1rem;
  width: 13px;
  height: 13px;
  background-color: rgba(0,0,0,.2);
  cursor: pointer
}

#index-navigator .circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 70%);
}

#index-navigator .circle.active {
  width: 24px;
  height: 24px;
  background-color: #35cebe;
}