@charset "UTF-8";

header{
	width:100%;
}

button{
    
}
.holdingList, .interestList{
	width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.manageStocks{
	box-sizing: border-box;
	padding:20px;
	text-align:right;
	margin-bottom:80px;

}
table {
	margin-top:20px;
	width:100%;
}
td{
	 text-align:center;
	 border-bottom: 1px solid #ada8a8;
	 margin-top: 10px;
	 padding: 10px;
}
th{
	text-align:center;
	border-bottom:3px solid #ada8a8;
	border-left:none;
}
tr{
	 padding: 10px;
}

span{
	font-size:small;
	
}


.down{
	color:blue;
	text-align:center;
}

.up{
	color:red;
	text-align:center;
}

#scroll {
    max-height: 480px;
    min-height: 300px;
    overflow-y: scroll;
}

.card-footer{
	display: flex;
box-sizing: border-box;
padding:0rem;
z-index:1;
left:15;
width:95%;
height: 80px;
position:fixed ;
background-color: #efefef;
bottom:10;
}

.prearea{
	margin:10px;
	display: inline-block;
	height:80px;
	width:50%;
}
.backarea{
    margin:10px;
	display: inline-block;
	height:80px;
	width:50%;
}

.prearea :first-child{
	float: left;
}

.prearea :nth-child(3){
    float: left;
    margin-top:10px;
}
.prearea :nth-child(4){
 margin-top:10px;
}


.backarea :first-child{
   float: left;
}

.backarea :nth-child(3){
    float: left;
    margin-top:10px;
}
.backarea :nth-child(4){
 margin-top:10px;
