@charset "UTF-8";
@import url("reset.css");

.wrap {
	position: relative;
}

.visable-none{
	display: none;
}

#card {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
}

	#card > section:first-child {

	}
	
	#card > section:last-child {
		--border: red 1px solid;
		
	}
	
	.asset-graph-title  {
		display: inline-block;
		font-weight: bold;
		font-size: 14pt;
	}

	#titleAssetTrend > div:first-child+div {
		position: absolute;
		top: 5px;
		right: 0px;
		display: inline-block;
		font-weight: bold;
		font-size: 11pt;
		background: #efefef;
		padding: 2px 15px;
		border-radius: 10px;
	}

	.my-asset-info{
		display: block;
		margin-top: 10px;
	}
	
	.my-asset-info .buttons {
		display: flex;
	}

	.my-asset-info .buttons li {
		font-weight: bold;
		font-size: 11pt;
		margin-left: 15px;
		background: #efefef;
		padding: 4px 15px;
		border-radius: 10px;
		cursor: pointer;
	}

	.my-asset-info .buttons li:first-of-type {
		margin-left: 0px;
	}

	.my-asset-info+p {
		font-weight: bold;
		font-size: 16pt;
		vertical-align: middle;
		position: absolute;
		top: 35px;
		right: 0px;

	}

#assetTrend {
	margin-top: 5px;
	text-align: center;
}

	#assetTrend #graph-assetTrend {
		background: #8080c0;
		height: 234px;
		width: inherit;
		
	}

	#assetTrend	#setPeriodgraph-assetTrend {
		background: #ff8040;
		height: 50px;
		width: inherit;
		
	}

	.asset-distribution {
		border: red 1px solid;
		width: 100%;
		height: 100px;
	}