@charset "UTF-8";

#contaner {
    width: 90%;
    min-width: 460px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

    #rankTable {
        width: 100%;
        text-align: center;
        font-size: 11pt;
        border-collapse: collapse;
    }
        #rankTable tr {
            height: 40px;
        }
        
        #rankTable td {
   			border-bottom: 1px solid #444444;
   			border-bottom-color: #85888a;
    		padding: 10px;
  		}
  		
  		#rankTable thead td {
   			/*border-bottom: 1px solid #444444;
   			border-bottom-color: #85888a;
   			padding: 10px;*/
   			border-bottom-width: 3px;
 		}

        #rankTable>.rankInfo{
            font-weight: bold;
        }

		#rankTable>#myRank{
			
		}
		
        #rankTable .rank, .profileImg{
            min-width: 30px;
            width: 5%;
        }

        #rankTable .name, .assets, .assetsGrowth{
            min-width: 50px;
            width: 30%;
        }

        tbody .assetsGrowth{
            color: #cf969c;    
        }
        