@charset "UTF-8";

/* 요소(element) 초기화 && 제목요소*/ 
h1, div, ul, ol, li, table{
	margin:0;
    padding:0;
    font-size:inherit;   
	font-weight:inherit; 
}
li{
    display: inline-flex;
}
/* 목록 */
ol, ul { 
	list-style: none;
}

.d-none{
    display: none;  
}

#search-form{
    text-align:center;
    margin-top: 4%;
    padding-left: 30px;
}

#search-text{
    height: 40px;
	width: 85%;
}

#recommendKeyword{
	display: inline-block;
	text-align: center;
    width: 40%;
    font-size: 80%;
    font-weight: bold;
}


#search-result{
    padding-top: 3%;
   
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 79%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 80%;
    
}

.search-button{
    background: url(../../images/button_search.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 10px; 
    right: 50px;

    /* 위치 조절 top, right =>  자동 조절 됨*/
}

.company-address-image{
    background: url(../images/link.png) no-repeat;
    border: none;
    width: 2px;
    height: 2px; 
}



thead{
    text-align:center;
	border-bottom:3px solid #ada8a8;
    border-left:none;
     
}



td{
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
}