@charset "UTF-8";

/* 요소(element) 초기화 && 제목요소*/ 
h1{
	margin:0;
    padding:0;
    font-size:inherit;   
	font-weight:inherit; 
}
/* 목록 */
ol, ul { 
	list-style: none;
}

.d-none{
    display: none;  
  }

#search-form{
    text-align: center;
    padding-top: 20px;
    /* height: 100px; */
	/* width: 400px; */
}

#search-text{
	height: 40px;
	width: 350px;
}

#recommendKeyword{
	display: inline-block;
	text-align: center;
	
   
}

#recommendKeyword>ul{
	padding-left: 0px;
}

 #recommendKeyword_fixed{
     position: absolute;
   	 left:15px;
	 top:80px;
 }

    #recommendKeyword>ul{
        display: flex;
        
     }
    #recommendKeyword>ul>li{
        display: flex;
        padding-left: 15px;
        font-size:15px;
       
        
    }