@charset "UTF-8";

/* 
참조 사이트 
	flex 기능 : https://heropy.blog/2018/11/24/css-flexible-box/
	button 기능 : https://nanati.me/css-button-design/
 */
 
#trading-container {
	width: 90%;
	min-width: 300px;
    max-width: 600px;
	margin-left: auto;
    margin-right: auto;
}

.page-top {
	min-height: 18%;
	padding: 0% 8%;
	 }

	.page-top > #stockName {
		text-align:left;
		font-weight: bold;
		font-size: 1.5em;
		line-height: 150%;
		padding-top: 5%;
	}

.page-mid {
	min-height: 40%;
}

.page-bottom {
	min-height: 40%;
	}
	.page-bottom > #page-bottom-box {
 		display: flex;
		justify-content: space-between;
		text-align: center;
	}
	.page-bottom #page-bottom-box .show-button-align {
		width: 50%;
	} 

#text {
	width: 20%;
	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-shadow: 3px 3px 3px #888;
	outline: none;
}

#chart_div {
	width: 100%;
}
/* default button */
.button {
	background-color: rgb(242, 242, 242);
	border-radius: 10px;
	font-size: 0.88em;
	font-weight: bold;
	padding: 1% 2%; /* button font<->wrapper interval  */	
 	border: none; 	
	outline: none;
}

.button-chart {
	margin: 0% 1%;
}

.button-chart:hover {
	background-color: #13bfd7; 
	color: white;
}

.button-status {
    padding: 1% 18%;
    margin: 10% 0 5% 0;
}

.button-button {
    padding: 5% 18%;
    margin: 10% 0 5% 0;
}

	